<body>
  <header>
    <a routerLink="/home" class="home"><h1>IUT Reserve</h1></a>
    <a routerLink="/reservas-adm" class="menu">
      <div class="admin">
        <h1>Admin</h1>
        <span class="material-icons">person</span>
      </div>
    </a>
  </header>
  <nav>
    <div class="container">
      <div class="pendentes">
        <span class="title">Reservas Pendentes de Aprovação</span>
        <ul class="reservas-pendentes">
          <li></li>
        </ul>
      </div>

      <div class="aprovados">
        <span class="title">Reservas Aprovadas</span>
        <ul class="reservas-aprovadas">
          <li></li>
        </ul>
      </div>
    </div>

    <div class="menu">
      <div class="itens-menu">
        <a routerLink="/gerenciar-reservas" class="gerenciar-reservas">
          <p>Reservas</p>
        </a>
      </div>

      <div class="itens-menu">
        <a routerLink="" class="gerenciar-salas">
          <p>Salas</p>
        </a>
      </div>

      <div class="itens-menu">
        <a routerLink="" class="gerenciar-usuarios">
          <p>Usúario</p>
        </a>
      </div>
      <div class="itens-menu">
        <a routerLink="" class="gerenciar-perfil">
          <p>Perfil</p>
        </a>
      </div>

      <div class="sair">
        <a class="button-sair">
          <p (click)="toggle()">Sair</p>
        </a>
      </div>
    </div>

    <!-- MODAL SAIR -->
    <ng-container *ngIf="mostrar">
      <div class="modal">
        <span class="material-icons" (click)="toggle()">close</span>
        <p class="title">Tem certeza que deseja sair?</p>
        <div class="button-ok">
          <button (click)="toggle()">Não</button>
          <button routerLink="/login">Sim</button>
        </div>
      </div>
      <div (click)="toggle()" class="overlay"></div>
    </ng-container>
  </nav>
</body>
