<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <div class="cabecalho">
      <h1>IUT Reserve</h1>
      <svg
        width="56"
        height="56"
        viewBox="0 0 56 56"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.8597 25.5377C29.6964 25.5377 31.4918 24.9931 33.0189 23.9727C34.5461 22.9523 35.7364 21.5019 36.4392 19.8051C37.1421 18.1082 37.326 16.241 36.9677 14.4396C36.6094 12.6382 35.7249 10.9835 34.4262 9.68478C33.1275 8.38605 31.4728 7.5016 29.6714 7.14328C27.87 6.78496 26.0028 6.96887 24.3059 7.67174C22.609 8.3746 21.1587 9.56487 20.1383 11.092C19.1179 12.6192 18.5732 14.4146 18.5732 16.2513C18.5732 18.7142 19.5516 21.0762 21.2932 22.8178C23.0347 24.5593 25.3968 25.5377 27.8597 25.5377Z"
          fill="white"
        />
        <path
          d="M41.7893 48.7535C42.405 48.7535 42.9956 48.5089 43.4309 48.0736C43.8663 47.6382 44.1109 47.0477 44.1109 46.4319C44.1109 42.1218 42.3987 37.9883 39.351 34.9406C36.3033 31.8928 32.1698 30.1807 27.8597 30.1807C23.5496 30.1807 19.416 31.8928 16.3683 34.9406C13.3206 37.9883 11.6084 42.1218 11.6084 46.4319C11.6084 47.0477 11.853 47.6382 12.2884 48.0736C12.7238 48.5089 13.3143 48.7535 13.93 48.7535H41.7893Z"
          fill="white"
        />
      </svg>
    </div>
  </header>
  <div class="gerenciar">
    <button>
      <h2><a href="">Gerenciar reservas</a></h2>
    </button>
    <div class="gerenciarbuttonspace"></div>
    <button>
      <h2><a href="">Gerenciar salas</a></h2>
    </button>
    <div class="gerenciarbuttonspace"></div>
    <button>
      <h2><a href="">Gerenciar usuários</a></h2>
    </button>
    <div class="gerenciarbuttonspace"></div>
    <button>
      <h2><a href="">Gerenciar perfil</a></h2>
    </button>
    <button class="sair">
      <h2><a href="">Sair</a></h2>
    </button>
  </div>
  <div class="room">
    <div class="roomcadastrada">
      <h4>Salas cadastradas</h4>
      <div class="roombox">
        <div class="roomboxtext">
          <p>Sala de reuniões - Q002</p>
          <p>Capacidade: 08</p>
          <button>Informações V</button>
        </div>
      </div>
      <div class="roomboxspace"></div>
      <div class="roombox">
        <div class="roomboxtext">
          <p>Sala de negócios - Q203</p>
          <p>Capacidade: 25</p>
          <button>Informações V</button>
        </div>
      </div>
      <div class="roomboxspace"></div>
      <div class="roombox">
        <div class="roomboxtext">
          <p>Sala de reuniões 02 - Q102</p>
          <p>Capacidade 15</p>
          <button>Informações V</button>
        </div>
      </div>
    </div>
    <div class="roomspace"></div>
    <div class="cadastrarroom">
      <div class="cadastrarroomtext">
        <h1>Cadastrar nova sala</h1>
        <input type="text" placeholder="  nome da sala">
        <input type="text" placeholder="  código da sala">
        <input type="text" placeholder="  capacidade">
        <input type="text" placeholder="  informações complementares">
        <button><h2>Cadastrar</h2></button>
      </div>
    </div>
  </div>
</body>
</html>
