body {
  overflow: hidden;
  user-select: none;
}

header {
  /* superior | direita | inferior | esquerda */
  padding: 1.2rem 2rem 1.2rem 3.5rem;
  background-color: #ffef03;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));

  display: flex;
  justify-content: space-between;
  align-items: center;

  .home {
    text-decoration: none;
    h1 {
      font-weight: 900;
      font-size: 2.5rem;
      margin: 0;
      color: #ffffff;
      cursor: pointer;
    }
  }

  .menu {
    text-decoration: none;
    margin: 0;
    padding: 0;
    pointer-events: none;

    .admin {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      h1 {
        font-weight: 700;
        font-size: 1.5rem;

        color: #ffffff;
        margin: 0;
      }

      span {
        color: #ffffff;
        font-size: 4rem;
        margin-left: 0.5rem;
      }
    }
  }
}

nav {
  // padding: 1.6rem 3.5rem 0;
  display: flex;
  height: 84vh;

  .container {
    /* superior | direita | inferior | esquerda */
    padding: 2rem 0 0 3.5rem;

    width: 80%;
    // height: 100%;

    display: flex;
    flex-wrap: wrap;
  }
}

.menu {
  //* superior | direita | inferior | esquerda */
  padding: 0 2rem 0 1.5rem;
  right: 0;

  width: 20%;
  height: 100%;
  background-color: #ffef03;

  .itens-menu.active {
    background-color: #fffdde;
  }

  .itens-menu {
    // background-color: #fffdde;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 0;

    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      color: #383838;

      font-weight: 400;
      font-size: 1.3rem;

      margin: 0;
    }
  }

  .sair {
    position: absolute;
    bottom: 2rem;
    right: 3rem;

    p {
      color: #ff3f3f;

      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
      margin: 0;

      cursor: pointer;
    }
  }
}

//MODAL
.modal-menu {
  background: #ffef03;
  border-radius: 0 0 0 1.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: -3px 3px 2px 1px rgba(0, 0, 0, 0.1);
  width: 40%;
  position: fixed;
  right: 0;
  padding: 2rem;
  top: 6rem;
  z-index: 2;

  display: flex;
  flex-direction: column;

  .itens-menu.active {
    background-color: #fffdde;
  }

  .itens-menu {
    // background-color: #fffdde;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.5rem 0;

    display: flex;
    align-items: center;
    cursor: pointer;

    p {
      color: #383838;

      font-weight: 400;
      font-size: 1.3rem;

      margin: 0;
    }
  }

  .sair {
    margin-top: 5rem;

    display: flex;
    justify-content: flex-end;

    p {
      color: #ff3f3f;

      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
      margin: 0;

      cursor: pointer;
    }
  }
}

.overlay-menu {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #333;
  width: 30%;
  min-width: 320px;
  position: fixed;
  left: 50%;
  padding: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  span {
    position: fixed;
    color: #ff3f3f;
    font-size: 1.8rem;
    top: 0.7rem;
    right: 0.7rem;

    cursor: pointer;
  }

  .title {
    width: 100%;
    /* vertical | horizontal */
    padding: 0 0.8rem;
    p {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-align: center;

      color: #383838;
    }
  }
  .button-ok {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      width: 48%;
      background-color: #ffef03;
      border: none;
      border-radius: 1rem;
      padding: 0.3rem;

      font-weight: 400;
      font-size: 1rem;
      color: #383838;

      cursor: pointer;
    }
  }
}

.overlay {
  background: #000;
  height: 100vh;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 20;
}

@media screen and (max-width: 777px) {
  ::-webkit-scrollbar {
    width: 0;
  }

  body {
    overflow-y: scroll;
  }
  header {
    padding: 1.2rem 2rem;

    .home {
      h1 {
        font-size: 2rem;
      }
    }

    .menu {
      .admin {
        h1 {
          display: none;
        }

        span {
          font-size: 4rem;
          pointer-events: all;
        }
      }
    }
  }
  nav {
    padding: 1.6rem 2rem 0;

    .container {
      padding: 0;
      width: 100%;
    }

    .menu {
      display: none;
    }
  }
}
