<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<header>
  <div class="container">
    <h1>IUT Reserve</h1>
    <h2>Admin</h2>
    <li>
      <a href="#">
        <img src="../../../assets/profile.svg" alt="Conta" />
      </a>
    </li>
  </div>
</header>
<div class="profile">
  <ul id="nav">
    <li><a href="#" style="font-size: 24px">Gerenciar Reservas</a></li>
    <li><a href="#" style="font-size: 24px">Gerenciar Salas</a></li>
    <li><a href="#" style="font-size: 24px">Gerenciar Usuários</a></li>
    <li><a href="#" style="font-size: 24px">Gerenciar Perfil</a></li>
    <h1><a href="#">Sair</a></h1>
  </ul>
</div>
<section>
  <div class="iut-container">
    <div class="iut-control-container">
      <h2>Nome</h2>
      <input class="iut-control" type="text" />
    </div>
    <div class="iut-control-container">
      <h2>E-mail</h2>
      <input class="iut-control" type="text" />
    </div>
    <div class="iut-control-container">
      <h2>Telefone</h2>
      <input class="iut-control" type="text" />
    </div>
    <div class="iut-control-container">
      <h2>Cargo</h2>
      <input class="iut-control" type="text" />
    </div>
  </div>
  <div class="iut-control2">
    <h1><a href="#">Exluir conta</a></h1>
  </div>
  <div class="iut-control2">
    <h2><a href="#">Salvar</a></h2>
  </div>
</section>
