<body>
  <header>
    <a routerLink="/home" class="home"><h1>IUT Reserve</h1></a>
    <a routerLink="/reservas-adm" class="menu">
      <div class="admin" (click)="toggleMenu()">
        <h1>Admin</h1>
        <span class="material-icons">person</span>
      </div>
    </a>
  </header>
  <nav>
    <div class="container">
      <div class="pendentes">
        <span class="title">Minhas Próximas Reservas</span>
        <ul class="reservas-pendentes">
          <li>
            <div class="content">
              <div class="linha1">
                <span>03/02/2021</span>
                -
                <span>08:00 às 18:00</span>
              </div>

              <div class="linha2">
                <span>Sala 1</span>
              </div>

              <div class="linha3">
                <span>Empresa legal</span>
                -
                <span>Fulano de Tal</span>
              </div>
            </div>

            <div class="actions">
              <span class="material-icons" id="close" (click)="toggleCancelar()"
                >close</span
              >
            </div>
          </li>
        </ul>

        <div class="mostrar-todas">
          <span (click)="togglePendentes()">Mostrar Todas</span>
        </div>
      </div>

      <div class="aprovados">
        <span class="title">Reservas Passadas</span>
        <ul class="reservas-aprovadas">
          <li>
            <div class="content">
              <div class="linha1">
                <span>03/02/2021</span>
                -
                <span>08:00 às 18:00</span>
              </div>

              <div class="linha2">
                <span>Sala 1</span>
              </div>

              <div class="linha3">
                <span>Empresa legal</span>
                -
                <span>Fulano de Tal</span>
              </div>
            </div>
          </li>
        </ul>

        <div class="mostrar-todas">
          <span (click)="toggleAprovados()">Mostrar Todas</span>
        </div>
      </div>
    </div>

    <div class="menu">
      <div
        class="itens-menu"
        routerLink="/user-reservas"
        routerLinkActive="active"
      >
        <p>Reservas</p>
      </div>

      <div
        class="itens-menu"
        routerLink="/user-perfil"
        routerLinkActive="active"
      >
        <p>Perfil</p>
      </div>

      <div class="sair">
        <p (click)="toggle()">Sair</p>
      </div>
    </div>

    <!-- MODAL MENU -->
    <ng-container *ngIf="menu">
      <div class="modal-menu">
        <div
          class="itens-menu"
          routerLink="/user-reservas"
          routerLinkActive="active"
        >
          <p>Reservas</p>
        </div>

        <div
          class="itens-menu"
          routerLink="/user-perfil"
          routerLinkActive="active"
        >
          <p>Perfil</p>
        </div>

        <div class="sair">
          <p (click)="toggle()">Sair</p>
        </div>
      </div>
      <div (click)="toggleMenu()" class="overlay-menu"></div>
    </ng-container>

    <!-- MODAL SAIR -->
    <ng-container *ngIf="mostrar">
      <div class="modal">
        <span class="material-icons" (click)="toggle()">close</span>
        <div class="title">
          <p>Tem certeza que deseja sair?</p>
        </div>
        <div class="button-ok">
          <button (click)="toggle()">Não</button>
          <button routerLink="/login">Sim</button>
        </div>
      </div>
      <div (click)="toggle()" class="overlay"></div>
    </ng-container>

    <!-- MODAL CANCELAR -->
    <ng-container *ngIf="cancelar">
      <div class="modal">
        <span class="material-icons" (click)="toggleCancelar()">close</span>
        <div class="title">
          <p>Tem certeza que deseja cancelar essa reserva?</p>
        </div>
        <div class="button-ok">
          <button (click)="toggleCancelar()">Não</button>
          <button (click)="toggleCancelar()">Sim</button>
        </div>
      </div>
      <div (click)="toggleCancelar()" class="overlay"></div>
    </ng-container>

    <!-- MODAL MORE PENDENTES -->
    <ng-container *ngIf="pendentes">
      <div class="modal-pendentes">
        <div class="close">
          <span class="material-icons" (click)="togglePendentes()">close</span>
        </div>

        <div class="pendentes">
          <span class="title">Minhas Próximas Reservas</span>
          <ul class="reservas-pendentes">
            <li>
              <div class="content">
                <div class="linha1">
                  <span>03/02/2021</span>
                  -
                  <span>08:00 às 18:00</span>
                </div>

                <div class="linha2">
                  <span>Sala 1</span>
                </div>

                <div class="linha3">
                  <span>Empresa legal</span>
                  -
                  <span>Fulano de Tal</span>
                </div>
              </div>

              <div class="actions">
                <span
                  class="material-icons"
                  id="close"
                  (click)="toggleCancelar()"
                  >close</span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div (click)="togglePendentes()" class="overlay-more"></div>
    </ng-container>

    <!-- MODAL MORE APROVADOS -->
    <ng-container *ngIf="aprovados">
      <div class="modal-aprovados">
        <div class="close">
          <span class="material-icons" (click)="toggleAprovados()">close</span>
        </div>

        <div class="pendentes">
          <span class="title">Reservas Aprovadas</span>
          <ul class="reservas-pendentes">
            <li>
              <div class="content">
                <div class="linha1">
                  <span>03/02/2021</span>
                  -
                  <span>08:00 às 18:00</span>
                </div>

                <div class="linha2">
                  <span>Sala 1</span>
                </div>

                <div class="linha3">
                  <span>Empresa legal</span>
                  -
                  <span>Fulano de Tal</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div (click)="toggleAprovados()" class="overlay-more"></div>
    </ng-container>
  </nav>
</body>
