<body>
  <header>
    <a routerLink="/home" class="home"><h1>IUT Reserve</h1></a>
    <a routerLink="/reservas-adm" class="menu">
      <div class="admin" (click)="toggleMenu()">
        <h1>Admin</h1>
        <span class="material-icons">person</span>
      </div>
    </a>
  </header>
  <nav>
    <div class="container">
      <div class="pendentes">
        <span class="title">Salas Cadastradas</span>
        <ul class="reservas-pendentes">
          <li>
            <div class="content">
              <div class="linha1">
                <span>Sala de Reuniões</span>
                -
                <span>Q002</span>
              </div>

              <div class="linha2">
                <span>Capacidade </span>
                <span>15</span>
              </div>

              <div class="linha3">
                <details class="collapse">
                  <summary class="title-collapse">
                    Informações <span class="material-icons">expand_more</span>
                  </summary>
                  <div class="description">Texto</div>
                </details>
              </div>
            </div>

            <div class="actions">
              <span class="material-icons" id="close" (click)="toggleExcluir()"
                >close</span
              >
            </div>
          </li>
        </ul>

        <div class="mostrar-todas">
          <span (click)="togglePendentes()">Mostrar Todas</span>
        </div>
      </div>

      <div class="cadastro-container">
        <div class="nova-sala">
          <div class="form-group">
            <h2>Cadastrar nova sala</h2>
            <div class="form">
              <mat-card>
                <mat-card-content>
                  <form
                    [formGroup]="form"
                    (ngSubmit)="saveDetails(form)"
                    autocomplete="off"
                    class="form-wrapper"
                  >
                    <!-- Nome Sala -->
                    <div class="form-name">
                      <mat-form-field appearance="standard">
                        <input
                          matInput
                          type="text"
                          formControlName="name"
                          placeholder="Nome da Sala"
                        />
                        <mat-error
                          *ngIf="form.controls['name'].errors?.['required']"
                          >Nome obrigatório
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Código -->
                    <div class="form-down">
                      <mat-form-field appearance="standard">
                        <input
                          matInput
                          type="text"
                          formControlName="cod"
                          placeholder="Código da Sala"
                        />
                        <mat-error
                          *ngIf="form.controls['cod'].errors?.['required']"
                          >Código obrigatório</mat-error
                        >
                        <mat-error
                          *ngIf="form.controls['cod'].errors?.['pattern']"
                          >Por favor insira um código de sala válido.</mat-error
                        >
                      </mat-form-field>
                    </div>

                    <!-- Capacidade-->
                    <div class="form-down">
                      <mat-form-field appearance="standard">
                        <input
                          matInput
                          type="number"
                          formControlName="capacidade"
                          placeholder="Capacidade"
                        />

                        <mat-error
                          *ngIf="form.controls['capacidade'].errors?.['required']"
                        >
                          Capacidade obrigatório
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Informações Complementares -->
                    <div class="form-down">
                      <mat-form-field appearance="standard">
                        <input
                          matInput
                          type="text"
                          formControlName="complementares"
                          placeholder="Informações Complementares"
                        />

                        <mat-error
                          *ngIf="form.controls['complementares'].errors?.['required']"
                          >Informações Complementares obrigatório
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <!-- Button Register -->
                    <div class="register-btn">
                      <button
                        mat-raised-button
                        color="primary"
                        type="submit"
                        [disabled]="!form.valid"
                      >
                        Cadastrar
                      </button>
                    </div>
                  </form>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu">
      <div
        class="itens-menu"
        routerLink="/adm-reservas"
        routerLinkActive="active"
      >
        <p>Reservas</p>
      </div>

      <div class="itens-menu" routerLink="/adm-salas" routerLinkActive="active">
        <p>Salas</p>
      </div>

      <div class="itens-menu" routerLink="/adm-user" routerLinkActive="active">
        <p>Usúarios</p>
      </div>

      <div
        class="itens-menu"
        routerLink="/adm-perfil"
        routerLinkActive="active"
      >
        <p>Perfil</p>
      </div>

      <div class="sair">
        <p (click)="toggle()">Sair</p>
      </div>
    </div>

    <!-- MODAL MENU -->
    <ng-container *ngIf="menu">
      <div class="modal-menu">
        <div
          class="itens-menu"
          routerLink="/adm-reservas"
          routerLinkActive="active"
        >
          <p>Reservas</p>
        </div>

        <div
          class="itens-menu"
          routerLink="/adm-salas"
          routerLinkActive="active"
        >
          <p>Salas</p>
        </div>

        <div
          class="itens-menu"
          routerLink="/adm-user"
          routerLinkActive="active"
        >
          <p>Usúarios</p>
        </div>

        <div
          class="itens-menu"
          routerLink="/adm-perfil"
          routerLinkActive="active"
        >
          <p>Perfil</p>
        </div>

        <div class="sair">
          <p (click)="toggle()">Sair</p>
        </div>
      </div>
      <div (click)="toggleMenu()" class="overlay-menu"></div>
    </ng-container>

    <!-- MODAL SAIR -->
    <ng-container *ngIf="mostrar">
      <div class="modal">
        <span class="material-icons" (click)="toggle()">close</span>
        <div class="title">
          <p>Tem certeza que deseja sair?</p>
        </div>
        <div class="button-ok">
          <button (click)="toggle()">Não</button>
          <button routerLink="/login">Sim</button>
        </div>
      </div>
      <div (click)="toggle()" class="overlay"></div>
    </ng-container>

    <!-- MODAL EXCLUIR -->
    <ng-container *ngIf="excluir">
      <div class="modal">
        <span class="material-icons" (click)="toggleExcluir()">close</span>
        <div class="title">
          <p>Tem certeza que deseja excluir o usúario?</p>
        </div>
        <div class="button-ok">
          <button (click)="toggleExcluir()">Não</button>
          <button (click)="toggleExcluir()">Sim</button>
        </div>
      </div>
      <div (click)="toggleExcluir()" class="overlay"></div>
    </ng-container>

    <!-- MODAL MORE PENDENTES -->
    <ng-container *ngIf="pendentes">
      <div class="modal-pendentes">
        <div class="close">
          <span class="material-icons" (click)="togglePendentes()">close</span>
        </div>

        <div class="pendentes">
          <span class="title"> Salas Cadastradas</span>
          <ul class="reservas-pendentes">
            <li>
              <div class="content">
                <div class="linha1">
                  <span>Sala de Reuniões</span>
                  -
                  <span>Q002</span>
                </div>

                <div class="linha2">
                  <span>Capacidade </span>
                  <span>15</span>
                </div>

                <div class="linha3">
                  <details class="collapse">
                    <summary class="title-collapse">
                      Informações
                      <span class="material-icons">expand_more</span>
                    </summary>
                    <div class="description">Texto</div>
                  </details>
                </div>
              </div>

              <div class="actions">
                <span
                  class="material-icons"
                  id="close"
                  (click)="toggleExcluir()"
                  >close</span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div (click)="togglePendentes()" class="overlay-more"></div>
    </ng-container>
  </nav>
</body>
