@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #FFFFFF;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: none;
}

header {
    width: 1280px;
    height: 121px;
    left: 0px;
    top: 0px;
    background: #FFEF03;
    align-items: center;
}

.iut-logo-container img {
    position: absolute;
    left: 1205px;
    top: 33px;
}

.iut-logo-container h1 {
    position: absolute;
    width: 217px;
    height: 48px;
    left: 30px;
    top: 37px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.iut-logo-container h2 {
    position: absolute;
    width: 44px;
    height: 19px;
    left: 30px;
    top: 150px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    display: flex;
 align-items: center;
    color: #141414;
}

.iut-control-container {
    margin-top: 54px;
    margin-left: 46px;
    margin-bottom: 65px;
}

.iut-container {
    align-content: center;
    margin: 0 auto;
}

.iut-control {
    box-sizing: border-box;

    position: absolute;
    width: 361px;
    height: 40px;

    background: #E7E7E7;
    border: 1px solid #141414;
    border-radius: 10px;
}

.iut-control2 h {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 305px;
    top: 670px;
    padding: 10px;
    background: #FFEF03;
    border-radius: 10px;
}

.iut-control3 h {
    position: absolute;
    width: 113px;
    height: 24px;
    left: 45px;
    top: 676px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #FF0000;

}

.iut-profile {
    position: absolute;
    width: 343px;
    height: 630px;
    left: 937px;
    top: 121px;

    background: #FFEF03;
}

.iut-profile-container h {
    position: absolute;
    width: 193px;
    height: 28px;
    left: 100px;
    top: 50px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.iut-profile-container h2 {
    position: absolute;
    width: 156px;
    left: 100px;
    top: 120px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 10px;

}

.iut-profile-container h3 {
    position: absolute;
    width: 41px;
    height: 30px;
    right: 50px;
    top: 570px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    color: #FF0000;

}