<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>IUT Reserve</h1>
        <h2>Admin</h2>
        <li>
          <a href="#">
            <img src="../../../assets/profile.svg" alt="Conta" />
          </a>
        </li>
      </div>
    </header>
    <div class="profile">
      <ul id="nav">
        <li><a href="#" style="font-size: 24px">Gerenciar Reservas</a></li>
        <li><a href="#" style="font-size: 24px">Gerenciar Salas</a></li>
        <li><a href="#" style="font-size: 24px">Gerenciar Usuários</a></li>
        <li><a href="#" style="font-size: 24px">Gerenciar Perfil</a></li>
        <h1><a href="#">Sair</a></h1>
      </ul>
    </div>
    <div class="reserv">
      <div class="proxreserv">
        <h4 style="font-size: 24px">Usuários Pendentes de Aprovação</h4>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <div class="approve">
            <svg
              height="40"
              width="40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                fill="#383838"
              />
            </svg>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <div class="reservboxspace"></div>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <div class="approve">
            <svg
              height="40"
              width="40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                fill="#383838"
              />
            </svg>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <div class="reservboxspace"></div>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <div class="approve">
            <svg
              height="40"
              width="40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.9 35.7 7.7 24.5l2.15-2.15 9.05 9.05 19.2-19.2 2.15 2.15Z"
                fill="#383838"
              />
            </svg>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <button class="mostrartodas" style="font-size: 24px">
          Mostrar todas
        </button>
      </div>
      <div class="passreserv">
        <h4 style="font-size: 24px">Usuários Aprovados</h4>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <div class="reservboxspace"></div>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <div class="reservboxspace"></div>
        <div class="reservbox">
          <div class="reservboxtext">
            <p style="font-size: 24px">Fulano de Tal - Empresa XYZ</p>
            <p style="font-size: 24px">(00) 0 0000-0000</p>
            <p style="font-size: 24px">email@empresa.com</p>
          </div>
          <button>
            <svg
              width="30"
              height="30"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3125 2.5625L11.875 10L19.3125 17.4375L17.4375 19.3125L10 11.875L2.5625 19.3125L0.6875 17.4375L8.125 10L0.6875 2.5625L2.5625 0.6875L10 8.125L17.4375 0.6875L19.3125 2.5625Z"
                fill="#FF3F3F"
              />
            </svg>
          </button>
        </div>
        <button href="#" class="mostrartodas" style="font-size: 24px">
          Mostrar todas
        </button>
      </div>
    </div>
  </body>
</html>
